<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/d7319b80-dc84-4130-88ce-765e7a8cb8dd/resourceGroups/RagBackend-andrii-ozemko-linux_group/providers/Microsoft.Web/sites/RagBackend-andrii-ozemko-linux</ResourceId>
    <ResourceGroup>RagBackend-andrii-ozemko-linux_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://ragbackend-andrii-ozemko-linux-ffcxesawbzh8bmc3.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c66b7d25-f252-a161-14e6-2d76122a8620</ProjectGuid>
    <PublishUrl>https://ragbackend-andrii-ozemko-linux-ffcxesawbzh8bmc3.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net10.0</TargetFramework>
    <SelfContained>true</SelfContained>
  </PropertyGroup>
</Project>